<button mat-button mat-icon (click)="onBack()">Back</button>
<mat-divider></mat-divider>
<div class="formField">
    <form id="custForm" 
    [formGroup]="customerForm">
        <mat-form-field class appearance="outline">
            <mat-label>{{customer.firstName}}</mat-label>
            <mat-hint>First Name</mat-hint>
            <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field class appearance="outline">
            <mat-label>{{customer.lastName}}</mat-label>
            <mat-hint>Last Name</mat-hint>
            <input matInput formControlName="lastName">
        </mat-form-field>
        <mat-form-field class appearance="outline">
            <mat-label>{{customer.gender}}</mat-label>
            <mat-hint>Gender</mat-hint>
            <input matInput formControlName="gender">
        </mat-form-field>
        <mat-form-field class appearance="outline">
            <mat-label>{{customer.phoneNumber}}</mat-label>
            <mat-hint>Phone Number</mat-hint>
            <input matInput formControlName="phoneNumber">
        </mat-form-field>
        <mat-form-field class appearance="outline">
            <mat-label>{{customer.email}}</mat-label>
            <mat-hint>Email</mat-hint>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class appearance="outline">
            <mat-label>{{customer.motorcycleId}}</mat-label>
            <mat-hint>Motorcycle ID</mat-hint>
            <input matInput formControlName="motorcycleId">
        </mat-form-field>
        <!-- 
        <mat-form-field class appearance="outline">
            <mat-label>{{customer.appointmentId}}</mat-label>
            <mat-hint>Appointment ID</mat-hint>
            <input matInput formControlName="appointmentId">
        </mat-form-field>
        -->
        <button mat-raised-button color="primary" (click)="onSave()" type="submit">Save</button>
    </form>
</div>
