<mat-divider></mat-divider>
<div class="formField">
    <form id="custForm" 
    #editFrom="ngForm">
        <mat-form-field class appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput>{{customer.firstName}}
        </mat-form-field>
        <mat-form-field class appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput>{{customer.lastName}}
        </mat-form-field>
        <mat-form-field class appearance="outline">
            <mat-label>Gender</mat-label>
            <input matInput>{{customer.gender}}
        </mat-form-field>
        <mat-form-field class appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput>{{customer.phoneNumber}}
        </mat-form-field>
        <mat-form-field class appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput>{{customer.email}}
        </mat-form-field>
        <mat-form-field class appearance="outline">
            <mat-label>Motorcycle ID</mat-label>
            <input matInput>{{customer.motorcycleId}}
        </mat-form-field>
        <mat-form-field class appearance="outline">
            <mat-label>Appointment ID</mat-label>
            <input matInput>{{customer.appointmentId}}
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </form>
</div>
