<button mat-button mat-icon (click)="onBack()">Back</button>
<mat-divider></mat-divider>
<div class="formField">
    <form id="custForm" 
    [formGroup]="customerForm">
        <mat-form-field class appearance="outline">
            <mat-label>{{customer.firstName}}</mat-label>
            <mat-hint>First Name</mat-hint>
            <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field class appearance="outline">
            <mat-label>{{customer.lastName}}</mat-label>
            <mat-hint>Last Name</mat-hint>
            <input matInput formControlName="lastName">
        </mat-form-field>
        <mat-form-field class appearance="outline">
            <mat-label>{{customer.gender}}</mat-label>
            <mat-hint>Gender</mat-hint>
            <mat-select formControlName="gender" required>
                <mat-option value="male">male</mat-option>
                <mat-option value="female">female</mat-option>
                <mat-option value="other">other</mat-option>
            </mat-select>
            <!-- <input matInput formControlName="gender" (click)="on"> -->
        </mat-form-field>
        <mat-form-field class appearance="outline">
            <mat-label>{{customer.phoneNumber}}</mat-label>
            <mat-hint>Phone Number</mat-hint>
            <input matInput formControlName="phoneNumber" required>
        </mat-form-field>
        <mat-form-field class appearance="outline">
            <mat-label>{{customer.email}}</mat-label>
            <mat-hint>Email</mat-hint>
            <input matInput type="email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field class appearance="outline">
            <mat-label>{{customer.motorcycleId}}</mat-label>
            <mat-hint>Motorcycle ID</mat-hint>
            <mat-select formControlName="motorcycleId" [(ngModel)]="motorcycleList">
                <mat-option *ngFor="let motorcycleId of motorcycleList" [value]="motorcycleList.motorcycleId">{{motorcycleList.motorcycleId}}</mat-option>
            </mat-select>
            <!-- <input matInput formControlName="motorcycleId"> -->
        </mat-form-field>
        <!-- 
        <mat-form-field class appearance="outline">
            <mat-label>{{customer.appointmentId}}</mat-label>
            <mat-hint>Appointment ID</mat-hint>
            <input matInput formControlName="appointmentId">
        </mat-form-field>
        -->
        <button mat-raised-button color="primary" [disabled]="!customerForm.valid" (click)="onSave()" type="submit">Save</button>
    </form>
</div>
