.searchBar {
    margin: 10px;
}

.buttons {
    float: right;
    margin: 10px;
}

.delete-button, .edit-button {
    margin-left: 10px;
}

.mat-elevation-z8 {
    width: 98%;
    margin: 10px;
}

.highlight {
    background: gray;
}