.searchBar {
    margin: 10px;
}

.buttons {
    float: right;
    margin: 10px;
}

.delete-button, .edit-button {
    margin-left: 10px;
}

.mat-elevation-z8 {
    width: 99%;
    margin: 10px;
}

tr:hover {
    background-color: gray;
}

.highlight {
    background: gray;
}