<mat-toolbar style="height:100%; ">
  <mat-toolbar-row style="height:100%; display: flex; flex-direction: column; padding: 0">
    <h1 style="padding: 5px"><strong>Motor</strong>cycle Gmbh</h1>
    <span class="menu-spacer"></span>
    <div style="display: flex; flex-direction: column; width: 100%; border: 5px">
      <a
        mat-button
        [routerLink]="'/home'"
        class="button-toolbar"
      > Home </a>
      <a
        mat-button
        [routerLink]="'/motorcycles'"
        class="button-toolbar"
      > Motorcycles </a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 10px; font-style: italic">Motorcycle Gmbh - It's your dream</span>
  </mat-toolbar-row>
</mat-toolbar>
